{% load static %}
<html>
    <head>
        <title style="text-align: center;">WORLD MUSIC PORTAL !!</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    
    <body>
    <div>
        <ul class="navigation" style="font-size: 20px;">
            <img src="cow.jpg" id="cowpic">
            <li> <a href="wtas.html">Home</a></li>
            <li><a href="wtas.html#abus">About Us</a></li>
            <li>
                <div class="dropdown">
                    <button class="dropbtn">Categories</button>
                    <div class="dropdown-content" style="font-size: 17;">
                        <a href="rock.html">Rock&nbsp;</a>
                        <a href="pop.html">Pop</a>
                        <a href="#">EDM</a>
                        <a href="#">Love</a>
                        <a href="classical.html">&nbsp;&nbsp;&nbsp;Classical&nbsp;&nbsp;</a>
                        <a href="greats.html">Greats</a>
                    </div>
                </div>
            </li>
            <li id="sign"><a href="signin.html" target=" ">Login</a></li>
            <li id="sign"><a href="register.html" target=" ">Signup</a></li>
        </ul>
    </div>

    <br>
    <h1 class="heading">Rock</h1>
    <div class="searchtext">Search through millions of rock songs.</div>
    <br><br><br>
    <div class="text">
        <i>
            A band's only unique thing is its chemistry, especially if none of you are prodigious players or particularly handsome. The one thing you have is your uniqueness, so we hold on to that.
        </i>
        <br><br>
        <div class="artistname">-Chris Martin</div>
    </div>
    <a href="t&c.html" target="_blank">
        <div class="smalltext" style="font-size: 7px;">
            Terms and Conditions
        </div>
    </a>
</body>






</html>
