<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Greats</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="genres.css" />
    <script src="main.js"></script>
    <link rel="shortcut icon" href="c2.jpg" />
</head>

<body>
    <div>
        <ul class="navigation" style="font-size: 20px;">
            <img src="cow.jpg" id="cowpic">
            <li> <a href="wtas.html">Home</a></li>
            <li><a href="wtas.html#abus">About Us</a></li>
            <li>
                <div class="dropdown">
                    <button class="dropbtn">Categories</button>
                    <div class="dropdown-content" style="font-size: 17;">
                        <a href="rock.html">Rock&nbsp;</a>
                        <a href="pop.html">Pop</a>
                        <a href="edm.html">EDM</a>
                        <a href="love.html">Love</a>
                        <a href="classical.html">&nbsp;&nbsp;&nbsp;Classical&nbsp;&nbsp;</a>
                        <a href="greats.html">Greats</a>
                    </div>
                </div>
            </li>
            <li id="sign"><a href="signin.html" target=" ">Login</a></li>
            <li id="sign"><a href="register.html" target=" ">Signup</a></li>
        </ul>
    </div>

    <br>
    <h1 class="heading">Greats</h1>
    <div class="searchtext">Search through millions of great songs.</div>
    <br><br><br>
    <div class="text">
        <i>
            The image is one thing and the human being is another. It's very hard to live up to an image, put it that way.
    
        </i>
        <br><br>
        <div class="artistname" style="position:absolute;right:300px;">-Elvis Presley</div>
    </div>
    <a href="t&c.html" target="_blank">
        <div class="smalltext" style="font-size: 7px;">
            Terms and Conditions
        </div>
    </a>
</body>

</html>