<!--{% load static %}-->
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Rock</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="rock.css" />
    <script src="main.js"></script>
    <link rel="shortcut icon" href="c2.jpg" />
</head>

<body>
    <div>
        <ul class="navigation" style="font-size: 20px;">
            <img src="cow.jpg" id="cowpic">
            
            <li>
                <div class="dropdown">
                    
                    <div class="dropdown-content" style="font-size: 17; text-align: center; color: magenta">
                         <a href="wtas.html">Home&nbsp;&nbsp;&nbsp;</a>
                        <a href="wtas.html#abus">About Us&nbsp;&nbsp;&nbsp;</a>
                          <a href="wtas.html#abus">Categories&nbsp;&nbsp;&nbsp;</a>
                        <a href="rock.html">Rock&nbsp;&nbsp;&nbsp;</a>
                        <a href="pop.html">Pop&nbsp;&nbsp;&nbsp;</a>
                     
                        <a href="edm.html">EDM&nbsp;&nbsp;&nbsp;&nbsp;</a>
                        <a href="love.html">Love&nbsp;&nbsp;&nbsp;&nbsp;</a>
                        <a href="classical.html">Classical&nbsp;&nbsp;&nbsp;&nbsp;</a>
                        <a href="greats.html">Greats&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                
            
            <a href="signin.html" target=" ">Login&nbsp;&nbsp;&nbsp;&nbsp;</a>
            <a href="register.html" target=" ">Signup&nbsp;&nbsp;&nbsp;&nbsp;</a>
            
                </div>
            </div>

        </ul>
    </div>

    <br>
    <h1 class="heading">Rock</h1>
    <div class="searchtext">Search through millions of Rock songs.</div>
    <br><br><br>
 <form class="example" action="action_page.php">
        <input type="text" placeholder="Search.." name="search">
        <button type="submit"><i class="fa fa-search"></i></button>
    </form><br>
    <br><br><br><br><br><br><br>

    <div class="text">
        <i>
            Using social media to hurt and destroy is callous, acted out by cowards hiding behind computers. My advice  is to ignore negativity. Focus on the love around.
        </i>
        <br><br>
        <div class="artistname">-Martin Garrix</div>
    </div>
    <a href="t&c.html" target="_blank">
        <div class="smalltext" style="font-size: 7px;">
            Terms and Conditions
        </div>
    </a>
</body>

</html>